@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


/*___colors___*/

$peach: #FFC593;
$fushia: #BC7198;
$blue: #5A77FF;
$main-gradient: linear-gradient(45deg, $peach, $fushia, $blue);
$black: #000000;
$white: #FFFFFF;
$light-gray: #DFDFDF;
$very-light-gray: #F5F5F5;
$gray: #808080;


/*___font-weights___*/

$fw-reg: 400; //regular
$fw-lg: 700;  //large
